<template>
  <form>
    <md-card>
      <md-card-header :data-background-color="dataBackgroundColor">
        <h4 class="title">¡BIENVENIDO!</h4>
        <p class="category"></p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Username</label>
              <md-input v-model="user.username" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Password</label>
              <md-input v-model="user.password" type="password"></md-input>
            </md-field>
          </div>

          <div class="md-layout-item md-size-100 text-right">
            <md-button
              :data-background-color="dataBackgroundColor"
              class="md-raised md-success"
              @click.native.prevent="login"
              >Iniciar sesión</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>

<script>
import {
  
  setToken,
  setUserEmail,
  setUserPassword
} from "@/utils/auth";
import Permission from "@/services/permission";
import Login from "@/services/user";

export default {
  props: {
    dataBackgroundColor: {
      type: String,
      default: "blue"
    }
  },
  mounted() {
    console.log("Component mounted.");
  },
  created: function() {
    Permission.isLogged(this);
  },
  data() {
    return {
      user: {
        username: "",
        password: ""
      },
      token: {
        grant_type: "password",
        username: null,
        password: null
      }
      //users:[]
    };
  },
  methods: {
    login() {
      if (this.user.username.length === 0) {
        return;
      }
      if (this.user.password.length === 0) {
        return;
      }

      Login.login(this.user).then(data => {
        if (data.status === 200) {
          this.token.username = this.user.username;
          this.token.password = this.user.password;
          Login.token(this.token, data).then(data => {
            if (data.status === 200) {
              setUserEmail(this.token.username);
              setUserPassword(this.token.password);
              setToken(data.data.access_token);
              console.log("Token:" + data.data.access_token);

              Login.getUser(this.user).then(response => {
                if (response.status === 200) {
                  console.log("Staff" + JSON.stringify(response.data[0]));
                  var res = JSON.stringify(response.data[0]);
                  if(typeof res !== 'undefined')
                  {
                    this.User.name = response.data[0].first_name;
                    this.User.roles = "Staff";

                    var isStaff = response.data[0].is_staff;

                    if (!isStaff) {
                      alert("No eres un usuario administrador");
                    } 
                    else {
                      console.log("Ir a Dashboard");
                      this.$router.push({ path: "/dashboard" });
                    }
                  }
                  else
                  {
                     alert("No eres un usuario administrador");
                  }
                } else {
                  alert(response);
                }
              });
            }
          });
        } else {
          alert("Ingresaste un usuario incorrecto");
        }
      });
    }
  }
};
</script>
