<template>
  <div>
    <loading :show="show" :label="label"> </loading>
    <md-table
      v-model="searched"
      md-sort="name"
      md-sort-order="asc"
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <!-- <h1 class="md-title">Nombre</h1> -->
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Buscar por fecha"
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>

      <md-table-empty-state
        v-if="seen"
        md-label="No se encontro la cita"
        :md-description="
          `No se encontro ninguna cita '${search}' con esta fecha. Tratar de escribirla bien o crear una nueva cita.`
        "
      >
        <md-button class="md-primary md-raised" to="/createpatient">Crear nuevo paciente</md-button
        >
      </md-table-empty-state>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Nombre Completo"
          >{{ item.first_name }} {{ item.last_name }}
          {{ item.second_last_name }}</md-table-cell
        >
        <!-- <md-table-cell md-label="Correo electrónico">{{item.username}}</md-table-cell> -->
        <md-table-cell md-label="Membresía"
          ><md-button
            @click="selected_row(item)"
            class="md-just-icon md-simple md-primary"
            ><md-icon v-if="item.is_member">check_circle_outline</md-icon
            ><md-icon v-else>clear</md-icon></md-button
          >
        </md-table-cell>
        <md-table-cell>
          <md-button
            @click="edit_row(item)"
            class="md-just-icon md-simple md-primary"
          >
            <md-icon>edit</md-icon>
            <md-tooltip md-direction="top">Editar</md-tooltip>
          </md-button>
          <md-button class="md-just-icon md-simple md-danger">
            <md-icon>close</md-icon>
            <md-tooltip md-direction="top">Deshabilitar</md-tooltip>
          </md-button>
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import Company from "@/services/company";
import Pacientes from "@/services/patients";
import loading from "vue-full-loading";


const toLower = text => {
  return text.toString().toLowerCase();
};

const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(
        item.first_name +
          " " +
          item.last_name +
          " " +
          item.second_last_name +
          item.username
      ).includes(toLower(term))
    );
  }

  return items;
};

export default {
  name: "citas-table",
  components: {
    loading
  },
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  mounted() {
    
    this.getPatients();

    // Company.getCompanies().then(response => {

    //     console.log("Listado de empresas"+ JSON.stringify(response.data) );
    //     this.companies = response.data;
    // })
  },
  data() {
    return {
      selected: [],
      search: null,
      searched: [],
      pacientes: [],
      seen: false,
      show: false,
      label: "Cargando...",
      user: {
        is_member: false
      }
    };
  },
  methods: {
    getPatients()
    {
      this.show = true;
      Pacientes.getPatients().then(response => {
         if (response.status === 200) {
      //console.log("Listado de pacientes"+ JSON.stringify(response.data) );
          this.pacientes = response.data;
          this.searched = this.pacientes;
          this.seen = true;
          this.show = false;
         }
    });

    },
    selected_row(e) {
      //alert(e.id);
     
      this.$confirm("¿Deseas editar la membresía de este paciente?").then(
        () => {
          this.show = true;
          if (e.is_member) {
            this.user.is_member = false;
          } else {
            this.user.is_member = true;
          }

          this.show = true;
          Pacientes.editPatient(e, this.user).then(response => {
            //console.log("Paciente editado"+ JSON.stringify(response.data) );
             if (response.status === 200) {
                this.getPatients();
                this.show = false;
             }
          });
        }
      );
    },
    edit_row(e) {
      alert("Editar");
    },
    searchOnTable() {
      this.searched = searchByName(this.pacientes, this.search);
    },
    newUser() {
      window.alert("Noop");
    }
  }
};
</script>
