<template>
  <div>
    <md-table v-model="citas" :table-header-color="tableHeaderColor">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Nombre Completo"
          >{{ item.patient.first_name }} {{ item.patient.last_name }}
          {{ item.patient.second_last_name }}</md-table-cell
        >
        <md-table-cell md-label="Doctor"> {{ item.doctor.first_name }} {{ item.doctor.last_name }}
          {{ item.doctor.second_last_name }}</md-table-cell>
        
        <md-table-cell md-label="Servicio">{{ item.service.name }}</md-table-cell>

        <md-table-cell md-label="Fecha Inicio">{{ customFormatter(item.start_time) }}</md-table-cell>

         <md-table-cell md-label="Cancelada"> <md-icon v-if="item.is_cancelled">cancel</md-icon></md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>

import Citas from "@/services/citas";
import loading from "vue-full-loading";
var moment = require('moment-timezone');


export default {
  name: "ordered-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  mounted() {
    
    this.getCitas();

  },
  data() {
    return {
      selected: [],
      citas: [
      ],
      show: false,
      label: "Cargando..."
    };
  },
  methods: {
    getCitas()
    {
      this.show = true;
      Citas.getCitasofDay().then(response => {
         if (response.status === 200) {
          //console.log("Listado de citas"+ JSON.stringify(response.data) );
          this.citas = response.data;
          this.show = false;
         }
      });

    },
    customFormatter(date) {
      return moment(date).tz("America/Mexico_City").format('YYYY-MM-DD HH:mm:ss');
    }

  }
};
</script>
