<template>
 
  <table class="table" id="example">
  <loading :show="show" :label="label"> </loading>

  <thead data-background-color="blue">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Email</th>
      <th scope="col">Membresía</th>
      <th scope="col">Expediente</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="user in pacientes">
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>{{user.second_last_name}}</td>
      <td>{{user.email}}</td>
      <td >
        <!-- <md-button
            @click="selected_row(user)"
            class="md-just-icon md-simple md-primary"
            ><md-icon v-if="user.is_member">check_circle_outline</md-icon
            ><md-icon v-else>clear</md-icon>
             <md-tooltip md-direction="top">Membresía</md-tooltip>
            </md-button>  -->

            <select v-model="user.type_member" @change="selected_row(user)">
                <option value="public">Público</option>
                <option value="agreement">Convenio</option>
                <option value="member">Membresía</option>
            </select>

          
      </td>
      <td >
        <md-button
            @click="edit_row(user)"
            class="md-just-icon md-simple md-primary"
          >
            <md-icon>assignment_ind</md-icon>
            <md-tooltip md-direction="top">Expediente</md-tooltip>
          </md-button>
      </td>
    </tr>
    
  </tbody>
</table>

 
    
</template>
 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/dataTables.jqueryui.min.js"></script>
   


<script>
import Company from "@/services/company";
import Pacientes from "@/services/patients";
import loading from "vue-full-loading";
import $ from 'jquery'
import datatables from "datatables"
var table;
var pacienteslist=[];
export default {
  name: "simple-table",
  components: {
    loading
  },
  props: {
    tableHeaderColor: {
      type: String,
      default: "blue"
    }
  },
  mounted() {
    
    if(pacienteslist.length == 0)
    {
      console.log("No hay" );
      this.show = true;
      this.getPatients();
    }
    else
    {
      this.createtable();
      this.pacientes = pacienteslist;
      this.getPatients();
      console.log("Hay" );
    }

    
  },
  data() {
    return {
      selected: [],
      search: null,
      searched: [],
      pacientes: [],
      seen: false,
      show: false,
      label: "Cargando...",
      user: {
        type_member: ''
      }
    };
  },
  methods: {
    createtable()
    {
      $(function(){
          
          if(table){
            
               table.api().destroy();
          }
         
          table =$('#example').dataTable(

             {
                
                language: {
            "lengthMenu": "_MENU_ Registros por página",
            "zeroRecords": "No se encontro",
            "info": "Mostrando página _PAGE_ of _PAGES_",
            "infoEmpty": "No hay registros disponible",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search": "Buscar"
                }
                
            }
          );

      });

    },
    getPatients()
    {
      
      Pacientes.getPatients().then(response => {
         if (response.status === 200) {
          //console.log("Listado de pacientes"+ JSON.stringify(response.data) );
          pacienteslist = response.data;
          this.pacientes = response.data;
          this.createtable();
          //this.pacientes = Object.freeze(users);
          //this.searched = this.pacientes;
          //this.seen = true;
          this.show = false;
         }
    });

    },
    selected_row(e) {
      //alert(e.id);
     
      this.$confirm("¿Quieres modificar la suscripción?").then(
        () => {
          this.show = true;
          
          this.user.type_member = e.type_member;
         

          
          Pacientes.editPatient(e, this.user).then(response => {
            //console.log("Paciente editado"+ JSON.stringify(response.data) );
             if (response.status === 200) {
                //this.getPatients();
                this.show = false;
                //var table = $('#example').dataTable();
               e.type_member = this.user.type_member
               //table.api().reload();
                
             }
          });
        }
      );
    },
    edit_row(e) {
      console.log("Expediente"+ JSON.stringify(e) );
      this.$router.push({ name: 'Expediente', params: { id: e }});
      
    },
    searchOnTable() {
      this.searched = searchByName(this.pacientes, this.search);
    },
    newUser() {
      window.alert("Noop");
    }
  } 
};
</script>

