<template>


 
   <div>
    <loading :show="show" :label="label"> </loading>
    <md-table
      v-model="searched"
      md-sort="first_name"
      md-sort-order="asc"
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Nombre</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Buscar por nombre o correo electrónico"
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>

      <md-table-empty-state
        v-if="seen"
        md-label="No se encontro paciente"
        :md-description="
          `No se encontro ningun paciente '${search}' con este nombre o correo. Tratar de escribirlo bien o crear un nuevo paciente.`
        "
      >
        <md-button class="md-primary md-raised" to="/createpatient">Crear nuevo paciente</md-button
        >
      </md-table-empty-state>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Nombre Completo"
          md-sort-by="first_name">{{ item.first_name }}</md-table-cell
        >
        <md-table-cell md-label="Apellido Paterno"
          >{{ item.last_name }}
         </md-table-cell
        >
        <md-table-cell md-label="Apellido Materno"
         >{{ item.second_last_name }}</md-table-cell
        >
        <md-table-cell md-label="Email">{{ item.email }}</md-table-cell
        >
       
        <md-table-cell md-label="Membresía"
          ><md-button
            @click="selected_row(item)"
            class="md-just-icon md-simple md-primary"
            ><md-icon v-if="item.is_member">check_circle_outline</md-icon
            ><md-icon v-else>clear</md-icon>
             <md-tooltip md-direction="top">Membresía</md-tooltip>
            </md-button>
           
        </md-table-cell>
        <md-table-cell>
          <md-button
            @click="edit_row(item)"
            class="md-just-icon md-simple md-primary"
          >
            <md-icon>assignment_ind</md-icon>
            <md-tooltip md-direction="top">Expediente</md-tooltip>
          </md-button>
          
        </md-table-cell>
      </md-table-row>
    </md-table>
  </div> 
</template>

<script>
import Company from "@/services/company";
import Pacientes from "@/services/patients";
import loading from "vue-full-loading";

    

const toLower = text => {
  return text.toString().toLowerCase();
};

const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(
        item.first_name +
          " " +
          item.last_name +
          " " +
          item.second_last_name +
          item.username
      ).includes(toLower(term))
    );
  }

  return items;
};

export default {
  name: "simple-table",
  components: {
    loading
  },
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  mounted() {
    
    this.getPatients();

    // Company.getCompanies().then(response => {

    //     console.log("Listado de empresas"+ JSON.stringify(response.data) );
    //     this.companies = response.data;
    // })
  },
  data() {
    return {
      selected: [],
      search: null,
      searched: [],
      pacientes: [],
      seen: false,
      show: false,
      label: "Cargando...",
      user: {
        is_member: false
      }
    };
  },
  methods: {
    getPatients()
    {
      this.show = true;
      Pacientes.getPatients().then(response => {
         if (response.status === 200) {
          //console.log("Listado de pacientes"+ JSON.stringify(response.data) );
          this.pacientes = response.data;
          //this.pacientes = Object.freeze(users);
          this.searched = this.pacientes;
          this.seen = true;
          this.show = false;
         }
    });

    },
    selected_row(e) {
      //alert(e.id);
     
      this.$confirm("¿Quieres modificar la suscripción?").then(
        () => {
          this.show = true;
          if (e.is_member) {
            this.user.is_member = false;
          } else {
            this.user.is_member = true;
          }

          this.show = true;
          Pacientes.editPatient(e, this.user).then(response => {
            //console.log("Paciente editado"+ JSON.stringify(response.data) );
             if (response.status === 200) {
                this.getPatients();
                this.show = false;
             }
          });
        }
      );
    },
    edit_row(e) {
      console.log("Paciente id"+ e.id );
      this.$router.push({ name: 'Expediente', params: { id: e }});
      
    },
    searchOnTable() {
      this.searched = searchByName(this.pacientes, this.search);
    },
    newUser() {
      window.alert("Noop");
    }
  } 
};
</script>

