<template>
  <form>
    <md-card>
      <md-card-header :data-background-color="dataBackgroundColor">
        <!-- <h4 class="title">Nuevo Paciente</h4> -->
        <p class="category">Llenar los siguientes campos.</p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Nombre</label>
              <md-input v-model="user.first_name" type="text" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Apellido Paterno</label>
              <md-input v-model="user.last_name" type="text" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Apellido Materno</label>
              <md-input v-model="user.second_last_name" type="text" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
             <md-field>
                <datepicker v-model="user.date_of_birth" placeholder="Fecha de nacimiento" :format="customFormatter" :disabled-dates="state.disabledDates"></datepicker>
             </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
               <label>Sexo</label>
               <md-select v-model="user.gender" name="gender" id="gender" required>
                    <md-option value="male">Masculino</md-option>
                    <md-option value="female">Femenino</md-option>
        
                </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
               <label></label>
                <country-select placeholder="Selecciona tu país" className="form-control" v-model="user.nationality"  topCountry="MX" />
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Ocupación</label>
              <md-input v-model="user.ocupation" type="text" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Religión</label>
              
              <md-select v-model="user.religion" name="religion" id="religion" required>
                    <md-option value="catolica">Católica</md-option>
                    <md-option value="cristiana">Cristiana</md-option>
                    <md-option value="judia">Judía</md-option>
                    <md-option value="protestante">Protestante</md-option>
                    <md-option value="testigo de jehova">Testigo de Jehová</md-option>
                    <md-option value="otra">Otra</md-option>
                    <md-option value="no aplica">No Aplica</md-option>

                </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Redes Sociales</label>
              
              <md-select v-model="user.social_network" name="social_network" id="social_network" required>
                    <md-option value="facebook">Facebook</md-option>
                    <md-option value="twitter">Twitter</md-option>
                    <md-option value="instagram">Instagram</md-option>
                    <md-option value="no aplica">No Aplica</md-option>
                </md-select>
            </md-field>
          </div>
          
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Tipo de Sangre</label>
              
              <md-select v-model="user.blood_type" name="blood_type" id="blood_type" required>
                    <md-option value="O-">O-</md-option>
                    <md-option value="O+">O+</md-option>
                    <md-option value="A-">A-</md-option>
                    <md-option value="A+">A+</md-option>
                    <md-option value="B-">B-</md-option>
                    <md-option value="B+">B+</md-option>
                    <md-option value="AB-">AB-</md-option>
                    <md-option value="AB+">AB+</md-option>
        
                </md-select>
            </md-field>
          </div>
          
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Teléfono</label>
              <md-input v-model="user.home_phone_number" type="number" maxlength=10 ></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field >
              <label>Teléfono Celular</label>
                <md-input v-model="user.mobile_phone_number" type="number" maxlength=10 required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Medio por el que te gustaría recibir información</label>
              
              <md-select v-model="user.place_recieve_info" name="place_recieve_info" id="place_recieve_info">
                    <md-option value="correo">Correo electrónico</md-option>
                    <md-option value="whatsapp">Whatsapp</md-option>
                    <md-option value="sms">SMS</md-option>
                    <md-option value="ninguno">Ninguno</md-option>
        
                </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>¿Cómo te enteraste de nosotros?</label>
              <md-input v-model="user.hear_us" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
           
              
              <md-checkbox v-model="user.sendinformation">¿Te gustaría recibir información de TuDOC?</md-checkbox>
            
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Email</label>
              <md-input v-model="user.email" type="email" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Contraseña</label>
              <md-input v-model="user.password" type="password" required></md-input>
            </md-field>
          </div>
          

          <div class="md-layout-item md-size-100 text-right">
            <md-button class="md-raised md-success" @click.native.prevent="createPatients">Agregar Paciente</md-button>
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>

import Pacientes from "@/services/patients";
import loading from "vue-full-loading";
import Datepicker from 'vuejs-datepicker';
var moment = require('moment');
var today = new Date();

export default {
  name: "createpatient",
  components: {
    loading,
    Datepicker
  },
  props: {
    dataBackgroundColor: {
      type: String,
      default: "blue"
    }
  },
  data() {
    return {
          state : {
            disabledDates: {
                to: new Date(1940, 1, 5), // Disable all dates up to specific date
                from: new Date(today.getFullYear(), today.getMonth(), today.getDay())
            }
          },
          show: false,
          label: "Cargando...",
          user: {
            username:this.email,
            first_name: '',
            last_name: '',
            second_last_name: '',
            email: '',
            password: '',
            date_of_birth: null,
            blood_type: '',
            gender: '',
            home_phone_number: '',
            mobile_phone_number:'',
            nationality:'',
            ocupation:'',
            religion:'',
            social_network:'',
            sendinformation:false,
            place_recieve_info:'',
            hear_us:''
          },
          reg: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,24}))$/
    };
  },
  methods: {

    createPatients()
    {
        
       
        if(this.user.first_name == null || this.user.first_name == '')
        {
            this.$alert("Se requiere de un nombre");
            return;
        }
        if(this.user.last_name == null || this.user.last_name == '')
        {
            this.$alert("Se requiere de un apellido paterno");
            return;
        }
        if(this.user.second_last_name == null || this.user.second_last_name == '')
        {
            this.$alert("Se requiere de un apellido materno");
            return;
        }
        if(this.user.email == null || this.user.email == '')
        {
            this.$alert("Se requiere de un correo electrónico");
            return;
        }
        else
        {
            if(!this.isEmailValid())
            {
                this.$alert("Se requiere de un correo electrónico válido");
            return;

            }

        }
        if(this.user.password == null || this.user.password == '')
        {
            this.$alert("Se requiere de una contraseña");
            return;
        }

        if(this.user.date_of_birth == null || this.user.date_of_birth == '')
        {
            this.$alert("Se requiere de una fecha de nacimiento");
            return;
        }

        if(this.user.gender == null || this.user.gender == '')
        {
            this.$alert("Se requiere de seleccionar un género");
            return;
        }
         if(this.user.mobile_phone_number == null || this.user.mobile_phone_number == '')
        {
            this.$alert("Se requiere de número de celular");
            return;
        }
         if(this.user.home_phone_number == null || this.user.home_phone_number == '')
        {
           this.user.home_phone_number = '0';
        }
        this.user.username = this.user.email;
        
        this.user.date_of_birth = moment(this.user.date_of_birth, 'YYYY-MM-DD').format('YYYY-MM-DD');
   
        this.show = true;
        Pacientes.createPatient(this.user).then(response => {
             if (response.status === 201) {
                    console.log("Paciente creado"+ JSON.stringify(response.data) );
                    this.show = false;
                    this.$router.push({ path: "/table" });
             }
             else
             {
                 console.log("error"+ JSON.stringify(response.data) );
                 this.$alert(JSON.stringify(response.data));
             }
          });
        
      

    },
    isEmailValid: function() {
      return (this.user.email == "")? "" : (this.reg.test(this.user.email)) ? true : false;
    },
    customFormatter(date) {
      return moment(date).format('YYYY-MM-DD');
    }
    
    
  }
};
</script>