<template>
    <form>
    <md-card>
       <md-card-actions>
         <qrcode :value="'FD-'+patient.id" :options="{ width: 100 }"></qrcode>                
      </md-card-actions>
      <md-card-header :data-background-color="dataBackgroundColor">
        <h4 class="title">Paciente</h4>
       
        <p class="category">{{ patient.first_name }} {{ patient.last_name }}
          {{ patient.second_last_name }}</p>
      </md-card-header>

      <md-card-content>
    <b-tabs content-class="mt-3">
    <b-tab title="Perfil" active>

      <form>
    <md-card>
      <md-card-header :data-background-color="dataBackgroundColor">
        <!-- <h4 class="title">Nuevo Paciente</h4> -->
        <p class="category">Perfil</p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Nombre</label>
              <md-input v-model="user.first_name" type="text" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Apellido Paterno</label>
              <md-input v-model="user.last_name" type="text" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Apellido Materno</label>
              <md-input v-model="user.second_last_name" type="text" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
          
              <!-- <md-datepicker v-model="user.date_of_birth" :format="YYYY-MM-dd" required>
                    <label>Fecha de nacimiento</label>
             </md-datepicker> -->
             <md-field>
                <datepicker v-model="user.date_of_birth" placeholder="Fecha de nacimiento" :format="customFormatter" :disabled-dates="state.disabledDates"></datepicker>
             </md-field>
          </div>
          
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
               <label>Género</label>
               <md-select v-model="user.gender" name="gender" id="gender" required>
                    <md-option value="male">Masculino</md-option>
                    <md-option value="female">Femenino</md-option>
        
                </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Teléfono</label>
              <md-input v-model="user.home_phone_number" type="number" maxlength=10 ></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field >
              <label>Teléfono Celular</label>
                <md-input v-model="user.mobile_phone_number" type="number" maxlength=10 required></md-input>
            </md-field>
          </div>
          
        
          
        </div>
      </md-card-content>
       <md-card-header>
        <p class="category">Datos del paciente</p>
      </md-card-header>
      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Tipo de Sangre</label>
              <md-input v-model="user.blood_type" type="text"></md-input>
            </md-field>
          </div>
          
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field >
              <label>Estatura metros (Ejemplo: 1.67)</label>
                <md-input v-model="user.height" type="number" maxlength=5 required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field >
              <label>Peso kilogramos (Ejemplo: 80)</label>
                <md-input v-model="user.weight" type="number" maxlength=5 required></md-input>
            </md-field>
          </div>
          
        </div>
      </md-card-content>
      <div class="md-layout-item md-size-100 text-right">
            <md-button class="md-raised md-success" @click.native.prevent="editPatient()">Editar Paciente</md-button>
      </div>
    </md-card>
  </form>








    </b-tab>
    <b-tab title="Expediente">
      <bulma-accordion
        dropdown icon="plus-minus">
    <!-- The wrapper component for all the items -->
    <bulma-accordion-item>
        <h4 slot="title">Heredo familiares</h4>
        <div slot="content">
            <div v-for="(item, index) in QuestionaryQuestions" v-bind:key="index">
                <div class="md-layout" v-if="item.tipo == 'form-predisposition'">
                        <div class="md-layout-item md-small-size-100 md-size-100">
                        
                            <md-switch :id="item.description_default + index " v-model="QuestionaryQuestions[index].selected" :name="'radio' + item.description_default" :options="optionsboolean" @change="envioDatos(item.tipo, index)" buttons button-variant="outline-primary">{{item.label}}</md-switch>
                        
                        </div>
                        <div class="md-layout-item md-small-size-100 md-size-33">
                          <md-field v-if="QuestionaryQuestions[index].selected">
                            <label>{{QuestionaryQuestions[index].labeltext}}</label>
                            <md-textarea :id="item.description_default + index"
                             v-model="QuestionaryQuestions[index].text"
                             :disabled="!QuestionaryQuestions[index].selected" 
                             v-on:input="envioDatos(item.tipo, index)"
                             :rows="3"
                             :max-rows="6">
                          </md-textarea>
                            </md-field>
                        </div>
                        <div class="md-layout-item md-small-size-100 md-size-33" v-if="QuestionaryQuestions[index].selected">
                          <!-- <md-field v-if="QuestionaryQuestions[index].selected"> -->
                            <label>Rama materna, paterna o ambas</label>
                            <br>
                            <select class="custom-select" style="width:200px;" v-model="QuestionaryQuestions[index].fromwho" :name="QuestionaryQuestions[index].fromwho" :id="QuestionaryQuestions[index].fromwho" @change="envioDatos(item.tipo, index)">
                                <option value="both">Ambos</option>
                                <option value="father">Paterno</option>
                                <option value="mother">Materno</option>

                            </select>
                          <!-- </md-field> -->
                        </div>

                </div>
               
            </div>

            <!-- <div class="md-layout">
                <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-checkbox v-model="with_heart_conditions">Cardiopatías o Enfermedades del corazón</md-checkbox>
                 
                </div>
                <div class="md-layout-item md-small-size-100 md-size-33">
                        <md-chips v-if="with_heart_conditions" class="md-primary" v-model="heart_conditions" md-placeholder="Agregar...">         
                        </md-chips>
                 
                </div>
                <div class="md-layout-item md-small-size-100 md-size-33">
                    <md-select v-if="with_heart_conditions" v-model="heart_conditions_parents" name="heart_conditions_parents" id="heart_conditions_parents" placeholder="Paterna o Materna">
                        <md-option value="none">Ninguno</md-option>
                        <md-option value="father">Paterna</md-option>
                        <md-option value="mother">Materna</md-option>

                    </md-select>
                 </div>
            
            </div> -->
        </div>
    </bulma-accordion-item>
    <!-- add as many of these items as you need - fill them with content via the slots -->
    <bulma-accordion-item>
        <h4 slot="title">Personales no patológicos</h4>
        <div slot="content">
            <div v-for="(item, index) in QuestionaryQuestions" v-bind:key="index">
                <div class="md-layout" v-if="item.tipo == 'form-personal-no-pathologic'">
                        <div class="md-layout-item md-small-size-100 md-size-100">
                        
                            <md-switch :id="item.description_default + index " v-model="QuestionaryQuestions[index].selected" :name="'radio' + item.description_default" :options="optionsboolean" @change="envioDatos(item.tipo, index)" buttons button-variant="outline-primary">{{item.label}}</md-switch>
                        
                        </div>
                        <div class="md-layout-item md-small-size-100 md-size-33">
                          <md-field v-if="QuestionaryQuestions[index].selected">
                            <label>{{QuestionaryQuestions[index].labeltext}}</label>
                            <md-textarea :id="item.description_default + index"
                             v-model="QuestionaryQuestions[index].text"
                             :disabled="!QuestionaryQuestions[index].selected" 
                             v-on:input="envioDatos(item.tipo, index)"
                             :rows="3"
                             :max-rows="6">
                          </md-textarea>
                            </md-field>
                        </div>
                       

                </div>
               
            </div>
          
        </div>
       
    </bulma-accordion-item>
    <bulma-accordion-item>
        <h4 slot="title">Personales Patológicos</h4>
        <div slot="content">
             <div v-for="(item, index) in QuestionaryQuestions" v-bind:key="index">
                <div class="md-layout" v-if="item.tipo == 'form-personal-pathologic'">
                        <div class="md-layout-item md-small-size-100 md-size-100">
                        
                            <md-switch :id="item.description_default + index " v-model="QuestionaryQuestions[index].selected" :name="'radio' + item.description_default" :options="optionsboolean" @change="envioDatos(item.tipo, index)" buttons button-variant="outline-primary">{{item.label}}</md-switch>
                        
                        </div>
                        <div class="md-layout-item md-small-size-100 md-size-33">
                          <md-field v-if="QuestionaryQuestions[index].selected">
                            <label>{{QuestionaryQuestions[index].labeltext}}</label>
                            <md-textarea :id="item.description_default + index"
                             v-model="QuestionaryQuestions[index].text"
                             :disabled="!QuestionaryQuestions[index].selected" 
                             v-on:input="envioDatos(item.tipo, index)"
                             :rows="3"
                             :max-rows="6">
                          </md-textarea>
                            </md-field>
                        </div>
                       

                </div>
               
            </div>


        </div>
    </bulma-accordion-item>
    <bulma-accordion-item>
        <h4 slot="title"> Gineco-obstétricos</h4>
         <div slot="content">
             <div v-for="(item, index) in QuestionaryQuestions" v-bind:key="index">
                <div class="md-layout" v-if="item.tipo == 'form-gineco-obstetric'">
                        <div class="md-layout-item md-small-size-100 md-size-100">
                        
                            <md-switch :id="item.description_default + index " v-model="QuestionaryQuestions[index].selected" :name="'radio' + item.description_default" :options="optionsboolean" @change="envioDatos(item.tipo, index)" buttons button-variant="outline-primary">{{item.label}}</md-switch>
                        
                        </div>
                        <div class="md-layout-item md-small-size-100 md-size-33">
                          <md-field v-if="QuestionaryQuestions[index].selected">
                            <label>{{QuestionaryQuestions[index].labeltext}}</label>
                            <md-textarea :id="item.description_default + index"
                             v-model="QuestionaryQuestions[index].text"
                             :disabled="!QuestionaryQuestions[index].selected" 
                             v-on:input="envioDatos(item.tipo, index)"
                             :rows="3"
                             :max-rows="6">
                          </md-textarea>
                            </md-field>
                        </div>
                       

                </div>
               
            </div>


        </div>
        
    </bulma-accordion-item>
  </bulma-accordion>

    </b-tab>
    
   
    </b-tabs>
    
        
    </md-card-content>
    </md-card>
  </form>

    
</template>
<script>
import { BulmaAccordion, BulmaAccordionItem } from 'vue-bulma-accordion'
import HealthCondition from "@/services/healthcondition";
import Patients from "@/services/patients";
import Datepicker from 'vuejs-datepicker';
var moment = require('moment');
var today = new Date();
 
export default {
    
     name: 'cool-component',
     
    data() {
        return {
            state : {
              disabledDates: {
                to: new Date(1940, 1, 5), // Disable all dates up to specific date
                from: new Date(today.getFullYear(), today.getMonth(), today.getDay())
              }
            },
            
            activeColor: '#26c6da',
            group: [],
            patient: this.$route.params.id,
            user: {
              first_name: '',
              last_name: '',
              second_last_name: '',
              date_of_birth: '',
              blood_type: '',
              gender: '',
              home_phone_number: '',
              mobile_phone_number:'',
              weight:'',
              height:''

            },
            healthConditions: [],
            patientmetrics:
            {
              health:'',
              weight:'',
              patient:0
            },
            optionsboolean: [
                { text: 'Si', value: true },
                { text: 'No', value: false }
            ],
            QuestionaryQuestions: [
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Hipercolesterolemia, Hipertrigliceridemia, Hipertensión Arterial Sistémica, Infarto al miocardio, valvulopatías, etc','label': 'Cardiopatías o Enfermedades del corazón', 'description_default': 'CardiopatíasEnfermedadesCorazon', 'fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Sitio anatómico (Ejemplo: pulmones, piel, etc.)','label': 'Cáncer', 'description_default': 'Cancer'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Lupus Eritematoso Sistémico, Artritis Reumatoide, etc','label': 'Enfermedades autoinmunes', 'description_default': 'Enfermedadesautoinmunes','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Diabetes Mellitus, Hipotiroidismo, Hipertiroidismo, etc','label': 'Enfermedades endocrinológicas', 'description_default': 'EnfermedadesEndocrinologica','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Asma, EPOC, etc','label': 'Enfermedades Respiratorias', 'description_default': 'EnfermedadesRespiratorias','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Infarto Cerebral, Epilepsia, etc','label': 'Enfermedades Neurológicas ', 'description_default': 'EnfermedadesNeurologicas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Depresión, Esquizofrenia, etc','label': 'Enfermedades Psiquiátricas', 'description_default': 'EnfermedadesPsiquiátricas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Acné','label': 'Enfermedades de la piel', 'description_default': 'EnfermedadesPiel','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: VIH, Hepatitis, etc','label': 'Enfermedades Infectocontagiosas', 'description_default': 'EnfermedadesInfectoContagiosas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Insuficiencia renal, infecciosos, etc','label': 'Enfermedades Renales y/o Urinarias', 'description_default': 'EnfermedadesRenalesUrinarias','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Hepatitis, Cirrosis, etc','label': 'Enfermedades Hepáticas', 'description_default': 'EnfermedadesHepaticas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Gastritis, Colitis, ERGE, etc','label': 'Enfermedades Gastrointestinales', 'description_default': 'EnfermedadesGastrointestinales','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Anemia, Leucemia, Linfoma, etc','label': 'Enfermedades Hematológicas', 'description_default': 'EnfermedadesHematológicas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-predisposition', 'labeltext': 'Ejemplo: Miopía, Astigmatismo, Glaucoma, etc','label': 'Enfermedades Oftalmológicas', 'description_default': 'EnfermedadesOftalmologicas','fromwho':'none'},
        // ------------------------------
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic','labeltext': 'Tipo y hace cuanto (Ejemplo: Del apéndice hace 3 años)', 'label': 'Cirugías', 'description_default': 'Cirugias','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic','labeltext': 'Razón y hace cuanto (Ejemplo: Accidente y hace 10 años)', 'label': 'Transfusión de hemoderivados', 'description_default': 'TransfusionHemoderivados','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic','labeltext': 'Tipo y hace cuanto (Ejemplo: Fractura del antebrazo hace 1 año)', 'label': 'Traumatismos y/o fracturas', 'description_default': 'TraumatismosFracturas','fromwho':'none'},
        // {'selected': false, 'id': null, 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Enfermedades del corazón', 'description_default': 'EnfermedadesCorazon'},
        // {'selected': false, 'id': null, 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Cáncer', 'description_default': 'Cancer'},
        // {'selected': false, 'id': null, 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Enfermedades autoinmunes', 'description_default': 'Enfermedadesautoinmunes'},
        // {'selected': false, 'id': null, 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Condición Endocrina', 'description_default': 'CondicionEndocrina'},
        // {'selected': false, 'id': null, 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Condición Psiquiátrica', 'description_default': 'CondicionPsiquiatrica'},
        // {'selected': false, 'id': null, 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Epilepsia', 'description_default': 'Epilepsia'},
        // {'selected': false, 'id': null, 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Asma', 'description_default': 'Asma'},
        // {'selected': false, 'id': null, 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Condición Hematológica', 'description_default': 'CondicionHematologica'},
        // {'selected': false, 'id': null, 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Sífilis', 'description_default': 'Sifilis'},
        // {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Cirugías', 'description_default': 'Cirugias'},
        // {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Traumatismos', 'description_default': 'Traumatismos'},
        // {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'label': 'Hemotransfusiones', 'description_default': 'Hemotransfusiones'},
        // ------------------------------
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-personal-no-pathologic', 'labeltext': 'Cantidad (Ejemplo: 2 por día)', 'label': 'Tabaco', 'description_default': 'Tabaco','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-personal-no-pathologic', 'labeltext': 'Cantidad (Ejemplo: 2 copas por semana)', 'label': 'Ingesta de Alcohol ', 'description_default': 'Alcohol','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-personal-no-pathologic', 'labeltext': 'Tipo y cantidad (Ejemplo: Marihuana y 1 vez al día)', 'label': 'Ingesta de Drogas', 'description_default': 'Droga'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-personal-no-pathologic', 'labeltext': 'Tipo y frecuencia semanal (Ejemplo: Bici 2 veces por semana)', 'label': 'Ejercicio', 'description_default': 'Ejercicio','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-personal-no-pathologic', 'labeltext': 'Viajes en los ultimos 3 meses (Ejemplo: Chiapas hace 1 mes)', 'label': 'Viajes recientes', 'description_default': 'Viajes','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-personal-no-pathologic', 'labeltext': '¿A que y que te produce? (Ejemplo: Mariscos y me producen ronchas)', 'label': 'Alergias', 'description_default': 'Alergias','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Lupus Eritematoso Sistémico, Artritis Reumatoide, etc','label': 'Enfermedades autoinmunes', 'description_default': 'Enfermedadesautoinmunes','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Diabetes Mellitus, Hipotiroidismo, Hipertiroidismo, etc','label': 'Enfermedades endocrinológicas', 'description_default': 'EnfermedadesEndocrinologica','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Asma, EPOC, etc','label': 'Enfermedades Respiratorias', 'description_default': 'EnfermedadesRespiratorias','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Infarto Cerebral, Epilepsia, etc','label': 'Enfermedades Neurológicas', 'description_default': 'EnfermedadesNeurologicas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Depresión, Esquizofrenia, etc','label': 'Enfermedades Psiquiátricas', 'description_default': 'EnfermedadesPsiquiátricas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Acné','label': 'Enfermedades de la piel', 'description_default': 'EnfermedadesPiel','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: VIH, Hepatitis, etc','label': 'Enfermedades Infectocontagiosas', 'description_default': 'EnfermedadesInfectoContagiosas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Insuficiencia renal, infecciosos, etc','label': 'Enfermedades Renales y/o Urinarias', 'description_default': 'EnfermedadesRenalesUrinarias','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Hepatitis, Cirrosis, etc','label': 'Enfermedades Hepáticas', 'description_default': 'EnfermedadesHepaticas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Gastritis, Colitis, ERGE, etc','label': 'Enfermedades Gastrointestinales', 'description_default': 'EnfermedadesGastrointestinales','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Anemia, Leucemia, Linfoma, etc','label': 'Enfermedades Hematológicas', 'description_default': 'EnfermedadesHematológicas','fromwho':'none'},
        {'selected': false, 'id': null,'text': '', 'description': null, 'tipo': 'form-personal-pathologic', 'labeltext': 'Enfermedad, desde cuando y tratamiento. Ejemplo: Miopía, Astigmatismo, Glaucoma, etc','label': 'Enfermedades Oftalmológicas', 'description_default': 'EnfermedadesOftalmologicas','fromwho':'none'},
        // ------------------------------
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-gineco-obstetric', 'labeltext': 'Edad', 'label': 'Menarca o Edad de primera menstruación', 'description_default': 'Menarca','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-gineco-obstetric', 'labeltext': 'Fecha (Primer día)', 'label': 'Fecha de última menstruación', 'description_default': 'FechaMenstrual','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-gineco-obstetric', 'labeltext': 'Especificar', 'label': 'Método de planificación familiar', 'description_default': 'MetodoAnticonceptivo','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-gineco-obstetric', 'labeltext': 'Padecimientos durante el embarazo', 'label': 'Antecedentes Perinatales', 'description_default': 'AntecedentesPerinatales','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-gineco-obstetric', 'labeltext': 'Número','label': 'Número de Embarazos', 'description_default': 'NumeroEmbarazo','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-gineco-obstetric', 'labeltext': 'Número', 'label': 'Partos', 'description_default': 'Partos','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-gineco-obstetric', 'labeltext': 'Número', 'label': 'Cesáreas', 'description_default': 'Cesáreas','fromwho':'none'},
        {'selected': false, 'id': null, 'text': '', 'description': null, 'tipo': 'form-gineco-obstetric', 'labeltext': 'Número', 'label': 'Abortos', 'description_default': 'Abortos','fromwho':'none'}
        
      ]
            

        }
    },
    components: {
        BulmaAccordion,
        BulmaAccordionItem,
        Datepicker
    },
     props: {
        dataBackgroundColor: {
            type: String,
            default: "blue"
        }
    },
    methods: {
    printRegistroPaciente () {
      this.loading = true
      this.id_patient = this.patientId
      this.$http.get(`${auth.API_URL}${auth.API_V}patient/${this.id_patient}/registrotudoc/`, {
        headers: auth.getAuthHeader(), responseType: 'arraybuffer'
      }).then(response => {
        this.loading = false
        if (response) {
          let ahora = new Date()
          var a = document.createElement('a')
          document.body.appendChild(a)
          var file = new Blob([response.body], {type: 'application/pdf'})
          var fileURL = URL.createObjectURL(file)
          a.href = fileURL
          a.download = 'registro_' + ahora.toString() + '.pdf'
          a.click()
        }
      }, this.getErrors).catch(function (error) {
        this.loading = false
        this.message_error = true
        console.log('There has been a problem with your operation: ' + error)
      })
    },
    appearinHealthConditionTypes (opcion) {
      let resultado = null
      let indice = this.healthConditionTypes.findIndex(diccionario => (diccionario.value === opcion))
      if (indice === -1) {
        resultado = false
      } else {
        resultado = true
      }
      return resultado
    },
    composeDescription (Description, Texto, Label) {
      let resultado = null
      console.log('__________description')
      console.log(Description)
      console.log('__________text')
      console.log(Texto)
      console.log('____label')
      console.log(Label)
      console.log('__________end')
      if (!Description) {
        console.log('caso 1')
        resultado = Label // inicialmente guarda lo que viene en la  etiqueta
      } else {
        if (!Texto) {
          console.log('caso 2')
          resultado = "-" // no hay texto extra, vuelve a dejar el valor que ya se tenia
        } else {
          console.log('caso 3')
          // resultado = Description + Text
          if (Description.indexOf(Label + ':') === 0) { // 0 indica que lo encuentra al principio
            console.log('caso 4 ... al principio encuentra')
            // obtengo lo nuevo que no estaba en  description INICIO
            let indice = Texto.indexOf(Description)
            console.log(indice)
            let indiceEmpiezaNuevo = indice + Description.length
            console.log(indiceEmpiezaNuevo)
            let loNuevo = Texto.substring(indiceEmpiezaNuevo, Texto.length)
            // obtengo lo nuevo que no estaba en  description FIN
            if (loNuevo) {
              resultado = loNuevo
            } else {
              resultado = Texto
            }
          } else { // si no lo encuentra, debe de poner el texto default al principio
            console.log('caso 5 ... al principio no encuentra')
            resultado = Texto
          }
        }
      }
      console.log('resultado ********')
      console.log(resultado)
      console.log('resultado ********end')
      return resultado
    },
    envioDatos (conditionType, indice) {
      
      let descriptionField = this.composeDescription(this.QuestionaryQuestions[indice]['description'], this.QuestionaryQuestions[indice]['text'], this.QuestionaryQuestions[indice]['label'])
      console.log("Esto se manda a guardar "+descriptionField)
      let diccSend = {'condition_type': conditionType, 'patient': this.patient.id, 'description_default': this.QuestionaryQuestions[indice]['description_default'], 'description': descriptionField, 'selected': this.QuestionaryQuestions[indice]['selected'],'from_who':this.QuestionaryQuestions[indice]['fromwho']}
     
      // console.log('-------------------------dicc Send-----------------------------INICIO')
      // console.log(diccSend)
      // console.log('-------------------------dicc Send-----------------------------FIN')
      // este actualiza los valores de health condition cuando existen, o genera uno nuevo cuando no existe
      console.log(this.QuestionaryQuestions[indice]['id'])
      if (this.QuestionaryQuestions[indice]['id'] === null) { // no existe el healthcondition
        console.log('caso A')
        //this.loading = true
       
          HealthCondition.createHealthCondition(diccSend).then(response => {
        
             if (response.status === 201) {
              //this.loading = false
              console.log("Respuesta de healthcondition",response.data)
              let idhcResponse = response.data['id']
              let selectedResponse = response.data['selected']
              let descriptionResponse = response.data['description']

              console.log(idhcResponse)
              console.log(selectedResponse)
              console.log(descriptionResponse)

              this.QuestionaryQuestions[indice]['id'] = idhcResponse
              this.QuestionaryQuestions[indice]['selected'] = selectedResponse
              this.QuestionaryQuestions[indice]['description'] = descriptionResponse
            // this.QuestionaryQuestions[indice]['text'] = descriptionResponse
             }
             else
             {
                  console.log(error.data)
                  var self = this
                  for (var k in error.data) {
                      self.errors_local.push(`${k}: ${error.data[k]}`)
                  }
                  setTimeout(function () {
                    self.errors_local = []
                    console.log('clear')
                  }, 5000)
             }
          });

      } else {
        
        console.log('caso B')
        //this.loading = true
        // let idhcmodify = this.QuestionaryQuestions[indice]['id']
        HealthCondition.patchHealthCondition(this.QuestionaryQuestions[indice].id,diccSend).then(response => {
          if (response.status === 201) {
            //this.loading = false
            console.log(response.data)
            let idhcResponse = response.data['id']
            let selectedResponse = response.data['selected']
            let descriptionResponse = response.data['description']
            console.log(idhcResponse)
            console.log(selectedResponse)
            console.log(descriptionResponse)
            this.QuestionaryQuestions[indice]['id'] = idhcResponse
            this.QuestionaryQuestions[indice]['selected'] = selectedResponse
            this.QuestionaryQuestions[indice]['description'] = descriptionResponse
            this.QuestionaryQuestions[indiceArray]['fromwho'] = response.data['from_who']
            // this.QuestionaryQuestions[indice]['text'] = descriptionResponse
          }
          else
          {
            console.log(error.data)
                  var self = this
                  for (var k in error.data) {
                      self.errors_local.push(`${k}: ${error.data[k]}`)
                  }
                  setTimeout(function () {
                    self.errors_local = []
                    console.log('clear')
                  }, 5000)

          }
        });

      } // else
    }, // envioDatos
    hideInfo () {
      this.message_info = false
    },
    hideError () {
      this.message_error = false
    },
    addHealthCondition () {
      this.healthConditions.push({
        tempId: this.tempId + 1
      })
    },
    removeHealthCondition (hC) {
      if (hC.id) {
        this.deleteHCConfimation = true
        this.selectedHC = hC
      } else {
        this.healthConditions = this.healthConditions.filter(e => e.tempId !== hC.tempId)
        this.dismissDelete()
      }
    },
    deleteHC (hC) {
      console.log('deleteHC')
      this.$http.delete(`${auth.API_URL}${auth.API_V}healthcondition/${hC.id}/`, {
        headers: auth.getAuthHeader()
      }).then(response => {
        this.$data.healthConditions = this.$data.healthConditions.filter(function (e) {
          return e.id !== hC.id
        })
        this.dismissDelete()
      }, error => {
        console.log(error)
      })
    },
    dismissDelete () {
      this.deleteHCConfimation = false
      this.selectedHC = {}
    }, // submit
    getErrors (self, error) {
      for (var k in error.body) {
        self.errors_local.push(`${k}: ${error.body[k]}`)
      }
      setTimeout(function () {
        self.errors_local = []
      }, 5000)
    },
    customFormatter(date) {
      return moment(date).format('YYYY-MM-DD');
    },
    isEmailValid: function() {
      return (this.user.email == "")? "" : (this.reg.test(this.user.email)) ? true : false;
    },
    fillData()
    {
              this.user.first_name = this.patient.first_name;
              this.user.last_name = this.patient.last_name;
              this.user.second_last_name = this.patient.second_last_name;
              this.user.date_of_birth = this.patient.date_of_birth;
              this.user.blood_type = this.patient.blood_type;
              this.user.gender = this.patient.gender;
              this.user.home_phone_number = this.patient.home_phone_number;
              this.user.mobile_phone_number = this.patient.mobile_phone_number;
              this.user.weight = this.patient.latest_metrics.weight;
              this.user.height = this.patient.latest_metrics.height;

    },
    editPatient()
    {
      if(this.user.first_name == null || this.user.first_name == '')
        {
            this.$alert("Se requiere de un nombre");
            return;
        }
        if(this.user.last_name == null || this.user.last_name == '')
        {
            this.$alert("Se requiere de un apellido paterno");
            return;
        }
        if(this.user.second_last_name == null || this.user.second_last_name == '')
        {
            this.$alert("Se requiere de un apellido materno");
            return;
        }

        if(this.user.date_of_birth == null || this.user.date_of_birth == '')
        {
            this.$alert("Se requiere de una fecha de nacimiento");
            return;
        }

        if(this.user.gender == null || this.user.gender == '')
        {
            this.$alert("Se requiere de seleccionar un género");
            return;
        }
         if(this.user.mobile_phone_number == null || this.user.mobile_phone_number == '')
        {
            this.$alert("Se requiere de número de celular");
            return;
        }

        if(this.user.weight == null)
        {
          this.$alert("Se requiere un peso");
          return;
        }
        if(this.user.height == null)
        {
          this.$alert("Se requiere una estatura");
          return;
        }

        this.user.date_of_birth = moment(this.user.date_of_birth, 'YYYY-MM-DD').format('YYYY-MM-DD');

         this.show = true;
        Patients.editPatient(this.patient,this.user).then(response => {
             if (response.status === 200) {
                    this.createMetric();
                            
             }
             else
             {
                 console.log("error"+ JSON.stringify(response.data) );
                 this.$alert(JSON.stringify(response.data));
             }
        });

      
      
    },
    createMetric()
    { 

      this.patientmetrics.weight = this.user.weight;
      this.patientmetrics.height = this.user.height;
      this.patientmetrics.patient = this.patient.id;

      Patients.createPatientmetrics(this.patientmetrics).then(response =>{
          if(response.status == 201)
          {
               this.show = false;
               this.$alert("Se actualizo con exito");
          }
      });

    }
  },
  mounted () {
    
      
      HealthCondition.getHealthCondition(this.patient.id).then(response => {
      // TODO get healthconditions
        if(response.status == 200)
        {
        this.healthConditions = response.data
        // init para valores del formulario INICIO
        let datosIniciales = response.data
        datosIniciales.forEach(objetoSaved => {
          let indiceArray = this.QuestionaryQuestions.findIndex(diccionario => (objetoSaved['condition_type'] === diccionario.tipo) && (objetoSaved['description_default'] === diccionario.description_default))
          if (indiceArray !== -1) {
            this.QuestionaryQuestions[indiceArray]['selected'] = objetoSaved['selected']
            this.QuestionaryQuestions[indiceArray]['id'] = objetoSaved['id']
            this.QuestionaryQuestions[indiceArray]['fromwho'] = objetoSaved['from_who']
            if ('text' in this.QuestionaryQuestions[indiceArray]) {
              console.log('si tiene texto ..............')
              console.log(objetoSaved['description'])
              this.QuestionaryQuestions[indiceArray]['text'] = objetoSaved['description']
              this.QuestionaryQuestions[indiceArray]['description'] = objetoSaved['description']
            }
          }
        }) // forEach
        }
        else
        {
            this.getErrors(this, error)
        }
        // init para valores del formulario FIN
      });
      this.fillData();
      // INICIO este get busaca mostrar si hay condiciones iniciales en  las healthconditions del paciente en sesion
      // FIN este get busaca mostrar si hay condiciones iniciales en  las healthconditions del paciente en sesion
 
  } // mounted
    
  

}
</script>

