<template>

<div v-if="availability.length > 0">
  <b-list-group v-bind:key="index" v-for="(disponible, index) in availability" :disponible="disponible">
    <unitem :disponible="disponible" :index="index" @seleccionado="seleccionaHorario"></unitem>
  </b-list-group>
</div>
<div v-else>
  No tiene horarios disponibles.
</div>

</template>

<script>
// import auth from '../../auth'
// import Datepicker from 'vuejs-datepicker'
// import moment from 'moment'
// import Vue from 'vue'
// import es from 'vee-validate/dist/locale/es'
// import VeeValidate, { Validator } from 'vee-validate'
// import VueLoading from 'vue-simple-loading'
// import { BasicSelect } from 'vue-search-select'
// import {DatePicker} from 'element-ui'
import unitem from './item.vue'

export default {
  props: ['availability', 'disponible'],
  components: {
    'unitem': unitem
  },
  methods: {
    seleccionaHorario (objeto1, objeto2) {
      this.$emit('seleccionadolista', objeto1, objeto2)
    }
  }
}
</script>