<template>
  <div class="content">
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      >
        <md-card>
           <md-card-actions>
            
          <md-button class="md-primary" to="/newcita"><md-icon>add</md-icon><md-tooltip md-direction="top">Agregar nueva cita</md-tooltip></md-button
        >
          </md-card-actions>
          <md-card-header data-background-color="blue">
            <h4 class="title">Lista de citas registradas en TuDoc</h4>
            <!-- <p class="category">Lista de citas registradas en TuDoc</p> -->
          </md-card-header>
          <md-card-content>
  <div>
        <table class="table" id="citas_table">
  <loading :show="show" :label="label"> </loading>

  <thead data-background-color="blue">
    <tr>
      <th scope="col">Nombre Completo</th>
      <th scope="col">Doctor</th>
      <th scope="col">Servicio</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Cancelada</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="appointment in citas">
      <td>{{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
          {{ appointment.patient.second_last_name }}</td>
      <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}
          {{ appointment.doctor.second_last_name }}</td>
      <td>{{ appointment.service.name }}</td>
      <td>{{ customFormatter(appointment.start_time) }}</td>
      <td><md-icon v-if="appointment.is_cancelled">cancel <md-tooltip md-direction="top">Cita cancelada</md-tooltip></md-icon
            >
             
      </td>
     
    </tr>
    
  </tbody>
</table>              

    
  </div>
          </md-card-content>
        </md-card>
      </div>

     
    </div>
  </div>
</template>

 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/dataTables.jqueryui.min.js"></script>
   


<script>
import Citas from "@/services/citas";
import loading from "vue-full-loading";
var moment = require('moment-timezone');
import $ from 'jquery'
import datatables from "datatables"
var table;
var citaslist=[];



export default {
  name: "citas-table",
  components: {
    loading
  },
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  mounted() {
    if(citaslist.length == 0)
    {
      console.log("No hay citas" );
      this.show = true;
     this.getCitas()
    }
    else
    {
      this.citas = citaslist;
      this.createtable();
      this.getCitas()
      console.log("Hay citas" );
    };

  },
  data() {
    return {
      selected: [],
      citas: [],
      show: false,
      label: "Cargando..."
    };
  },
  methods: {
    createtable()
    {
      $(function(){
          
          if(table){
            
               table.api().destroy();
          }
         
          table =$('#citas_table').dataTable(

             {
                
                language: {
            "lengthMenu": "_MENU_ Registros por página",
            "zeroRecords": "No se encontro",
            "info": "Mostrando página _PAGE_ of _PAGES_",
            "infoEmpty": "No hay registros disponible",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search": "Buscar"
                }
                
            }
          );

      });

    },
    getCitas()
    {
      
      Citas.getCitas().then(response => {
         if (response.status === 200) {
          //console.log("Listado de citas"+ JSON.stringify(response.data) );
          citaslist = response.data;
          this.citas = response.data;
          this.createtable();

          this.show = false;
         }
    });

    },
    customFormatter(date) {
      return moment(date).tz("America/Mexico_City").format('YYYY-MM-DD HH:mm:ss');
    }

  }
};
</script>
