<template>
  <div class="content">
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      >
        <md-card>
          <md-card-header data-background-color="blue">
            <h4 class="title">Lista de citas registradas en TuDoc</h4>
            <!-- <p class="category">Lista de citas registradas en TuDoc</p> -->
          </md-card-header>
          <md-card-content>
                    <div>
    <loading :show="show" :label="label"> </loading>
    <md-table
      v-model="searched"
      md-sort="name"
      md-sort-order="asc"
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <!-- <h1 class="md-title">Nombre</h1> -->
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Buscar por nombre"
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>

      <md-table-empty-state
        v-if="seen"
        md-label="No se encontro la cita"
        :md-description="
          `No se encontro ninguna cita '${search}' con esta fecha. Tratar de escribirla bien o crear una nueva cita.`
        "
      >
        <md-button class="md-primary md-raised" to="/newcita">Crear nueva cita</md-button
        >
      </md-table-empty-state>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Nombre Completo"
          >{{ item.patient.first_name }} {{ item.patient.last_name }}
          {{ item.patient.second_last_name }}</md-table-cell
        >
        <md-table-cell md-label="Doctor"> {{ item.doctor.first_name }} {{ item.doctor.last_name }}
          {{ item.doctor.second_last_name }}</md-table-cell>
        
        <md-table-cell md-label="Servicio">{{ item.service.name }}</md-table-cell>

        <md-table-cell md-label="Fecha Inicio">{{ customFormatter(item.start_time) }}</md-table-cell>

         <md-table-cell md-label="Cancelada"> <md-icon v-if="item.is_cancelled">cancel</md-icon></md-table-cell>
       
        
      </md-table-row>
    </md-table>
  </div>
          </md-card-content>
        </md-card>
      </div>

     
    </div>
  </div>
</template>

<script>
import Citas from "@/services/citas";
import loading from "vue-full-loading";
var moment = require('moment-timezone');


const toLower = text => {
  return text.toString().toLowerCase();
};

const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(
        item.patient.first_name +
          " " +
          item.patient.last_name +
          " " +
          item.patient.second_last_name +
          item.patient.username
      ).includes(toLower(term))
    );
  }

  return items;
};

export default {
  name: "citas-table",
  components: {
    loading
  },
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  mounted() {
    
    this.getCitas();

  },
  data() {
    return {
      selected: [],
      search: null,
      searched: [],
      citas: [],
      seen: false,
      show: false,
      label: "Cargando...",
      user: {
        is_member: false
      }
    };
  },
  methods: {
    getCitas()
    {
      this.show = true;
      Citas.getCitas().then(response => {
         if (response.status === 200) {
          //console.log("Listado de citas"+ JSON.stringify(response.data) );
          this.citas = response.data;
          this.searched = this.citas;
          this.seen = true;
          this.show = false;
         }
    });

    },
    
    searchOnTable() {
      this.searched = searchByName(this.citas, this.search);
    },
    newUser() {
      window.alert("Noop");
    },
    customFormatter(date) {
      return moment(date).tz("America/Mexico_City").format('YYYY-MM-DD HH:mm:ss');
    }

  }
};
</script>
