<template>
  <div class="content">
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25"
      >
        <stats-card data-background-color="blue">
          <template slot="header">
            <md-icon>person</md-icon>
          </template>

          <template slot="content">
            <p class="category">Total Pacientes</p>
            <h3 class="title">{{ this.dashboard.number_patients }}</h3>
          </template>

          <template slot="footer">
            <!-- <div class="stats">
              <md-icon>date_range</md-icon>
              Last 24 Hours
            </div> -->
          </template>
        </stats-card>
        <loading :show="show" :label="label"> </loading>
      </div>
      <div
        class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25"
      >
        <stats-card data-background-color="gray">
          <template slot="header">
            <md-icon>assignment_ind</md-icon>
          </template>

          <template slot="content">
            <p class="category">Total Consultas</p>
            <h3 class="title">
              {{ this.dashboard.number_consultations }}
              <!-- <small>GB</small> -->
            </h3>
          </template>

          <template slot="footer">
            <!-- <div class="stats">
              <md-icon class="text-danger">warning</md-icon>
              <a href="#pablo">Get More Space...</a>
            </div> -->
          </template>
        </stats-card>
      </div>
      <div
        class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25"
      >
        <stats-card data-background-color="blue">
          <template slot="header">
            <md-icon>assignment_turned_in</md-icon>
          </template>

          <template slot="content">
            <p class="category">Consultas Cerradas</p>
            <h3 class="title">{{ this.dashboard.number_consultations_closed }}</h3>
          </template>

          <template slot="footer">
          
          </template>
        </stats-card>
      </div>
      <div
        class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25"
      >
        <stats-card data-background-color="gray">
          <template slot="header">
            <md-icon>assignment</md-icon>
          </template>

          <template slot="content">
            <p class="category">Total Citas</p>
            <h3 class="title">{{ this.dashboard.number_appointments }}</h3>
          </template>

          <template slot="footer">
           
          </template>
        </stats-card>
      </div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
      ></div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
      ></div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
      ></div>
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      >
        <md-card>
          <md-card-header data-background-color="blue">
            <h4 class="title">Citas del Día</h4>
            <p class="category"></p>
          </md-card-header>
          <md-card-content>
            <ordered-table table-header-color="orange"></ordered-table>
          </md-card-content>
        </md-card>
      </div>
      <!-- <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
      >
        <nav-tabs-card>
          <template slot="content">
            <span class="md-nav-tabs-title">Tasks:</span>
            <md-tabs class="md-success" md-alignment="left">
              <md-tab id="tab-home" md-label="Bugs" md-icon="bug_report">
                <nav-tabs-table></nav-tabs-table>
              </md-tab>

              <md-tab id="tab-pages" md-label="Website" md-icon="code">
                <nav-tabs-table></nav-tabs-table>
              </md-tab>

              <md-tab id="tab-posts" md-label="server" md-icon="cloud">
                <nav-tabs-table></nav-tabs-table>
              </md-tab>
            </md-tabs>
          </template>
        </nav-tabs-card>
      </div> -->
    </div>
  </div>
</template>

<script>
import { getVariableFromUrl, isEmpty, redirectToIndex } from "../utils/utils";
import { SendBirdAction } from "../utils/sendbird/SendBirdAction";
import { ChatLeftMenu } from "../services/chatleftmenu";
import { Chat } from "../components/Chat";
import { Spinner } from "../components/Spinner";
import { body, UPDATE_INTERVAL_TIME } from "../utils/const";
import { SendBirdConnection } from "../utils/sendbird/SendBirdConnection";
import { SendBirdEvent } from "../utils/sendbird/SendBirdEvent";
import { LeftListItem } from "../components/LeftListItem";

import Permission from "@/services/permission";
import Company_Report from "@/services/company_report_data";
import Login from "@/services/user";
import Company from "@/services/company";
import Patient from "@/services/patients";
import loading from "vue-full-loading";
import { getUserEmail, getUserPassword } from "@/utils/auth";

import {
  StatsCard,
  ChartCard,
  NavTabsCard,
  NavTabsTable,
  OrderedTable
} from "@/components";

export default {
  components: {
    StatsCard,
    ChartCard,
    NavTabsCard,
    NavTabsTable,
    OrderedTable,
    loading
  },
  created: function() {
    if (this.graphicCompany.length > 0) {
      this.graphicCompany = [];
    }
    var isLog = Permission.isLogged(this);
    if (isLog) {
      //alert(this.User.token);
      Login.getUser(this.user).then(response => {
        if (response.status === 200) {
          //console.log("Usuario:" + response.data[0].first_name);
        } else {
          Permission.logOut(this);
          console.log(response);
        }
      });
    }
  },

  mounted() {
    this.show = true;

    
    Company.getDashoard().then(response => {
      if (response.status === 200) {
        this.dashboard.number_patients = response.data.number_patients;
        this.dashboard.number_consultations = response.data.number_consultations;
        this.dashboard.number_consultations_closed = response.data.number_consultations_closed;
        this.dashboard.number_appointments = response.data.number_appointments;
        this.show = false;

      } else if (response.status === 401) {
        this.login();
      }
    });
  },
  methods: {
    login() {
      if (this.user.username.length === 0) {
        return;
      }
      if (this.user.password.length === 0) {
        return;
      }

      Login.login(this.user).then(data => {
        if (data.status === 200) {
          this.token.username = this.user.username;
          this.token.password = this.user.password;
          Login.token(this.token, data).then(data => {
            if (data.status === 200) {
              setToken(data.data.access_token);
              console.log("Token:" + data.data.access_token);

              Login.getUser(this.user).then(response => {
                if (response.status === 200) {
                  console.log("Staff" + JSON.stringify(response.data[0]));
                  this.User.name = response.data[0].first_name;
                  this.User.roles = "Staff";

                  var isStaff = response.data[0].is_staff;

                  if (!isStaff) {
                    alert("No eres un usuario administrador");
                  } else {
                    vm.$forceUpdate();
                  }
                } else {
                  alert(response);
                }
              });
            }
          });
        } else {
          alert("Ingresaste un usuario incorrecto");
        }
      });
    }
  },
  data() {
    return {
      dashboard: {
        number_patients: '0',
        number_consultations: '0',
        number_consultations_closed: '0',
        number_appointments: '0'

      },
      user: {
        username: getUserEmail,
        password: getUserPassword
      },
      show: false,
      label: "Cargando...",
      clinic_data: {
        total_patients: 0,
        total_consultations: 0
      },
      emailsSubscriptionChart: {
        data: {
          labels: [
            "Ja",
            "Fe",
            "Ma",
            "Ap",
            "Mai",
            "Ju",
            "Jul",
            "Au",
            "Se",
            "Oc",
            "No",
            "De"
          ],
          series: this.graphicCompany
        },
        options: {
          axisX: {
            showGrid: false
          },
          low: 0,
          high: 10,
          chartPadding: {
            top: 0,
            right: 5,
            bottom: 0,
            left: 0
          }
        },
        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function(value) {
                  return value[0];
                }
              }
            }
          ]
        ]
      },
      dailySalesChart: {
        data: {
          labels: ["M", "T", "W", "T", "F", "S", "S"],
          series: [[12, 17, 7, 17, 23, 18, 38]]
        },
        options: {
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 50, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      },
      dataCompletedTasksChart: {
        data: {
          labels: ["12am", "3pm", "6pm", "9pm", "12pm", "3am", "6am", "9am"],
          series: [[230, 750, 450, 300, 280, 240, 200, 190]]
        },

        options: {
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      }
    };
  }
};
</script>
