<template>
   <div class="content">
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      >
        <md-card>
          <md-card-header data-background-color="blue">
            <h4 class="title">Lista de doctores registrados en TuDoc</h4>
            <!-- <p class="category">Lista de citas registradas en TuDoc</p> -->
          </md-card-header>
          <md-card-content>
          <div>
               <table class="table" id="doctor_table">
  <loading :show="show" :label="label"> </loading>

  <thead data-background-color="blue">
    <tr>
      <th scope="col">Nombre Completo</th>
      <th scope="col">Chat a Distancia</th>
     
    </tr>
  </thead>
  <tbody>
    <tr v-for="doctor in doctors">
      <td>{{ doctor.first_name }} {{ doctor.last_name }}
          {{ doctor.second_last_name }}  {{ doctor.email }}</td>
       <td >
         <md-button
            @click="selected_row(doctor)"
            class="md-just-icon md-simple md-primary"
            ><md-icon v-if="doctor.distance_chat">check_circle_outline</md-icon
            ><md-icon v-else>clear</md-icon>
             <md-tooltip md-direction="top">Chat Distancia</md-tooltip>
            </md-button>
           
      </td>
     
    </tr>
    
  </tbody>
</table>  

    
          </div>
   
          </md-card-content>
        </md-card>
      </div>

     
    </div>
  </div>
</template>
 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
 <script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.8/js/dataTables.jqueryui.min.js"></script>
   
<script>
import Company from "@/services/company";
import Doctors from "@/services/doctors";
import loading from "vue-full-loading";

import $ from 'jquery'
import datatables from "datatables"
var table;
var doctorslist=[];




export default {
  name: "simple-table",
  components: {
    loading
  },
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  mounted() {
    
    if(doctorslist.length == 0)
    {
      console.log("No hay citas" );
      this.show = true;
      this.getDoctors();
    }
    else
    {
      this.doctors = doctorslist;
      this.createtable();
      this.getDoctors();
      console.log("Hay citas" );
    };
    

    // Company.getCompanies().then(response => {

    //     console.log("Listado de empresas"+ JSON.stringify(response.data) );
    //     this.companies = response.data;
    // })
  },
  data() {
    return {
      selected: [],
      search: null,
      searched: [],
      doctors: [],
      seen: false,
      show: false,
      label: "Cargando...",
      user: {
        distance_chat: false
      }
    };
  },
  methods: {
    createtable()
    {
      $(function(){
          
          if(table){
            
               table.api().destroy();
          }
         
          table =$('#doctor_table').dataTable(

             {
                
                language: {
            "lengthMenu": "_MENU_ Registros por página",
            "zeroRecords": "No se encontro",
            "info": "Mostrando página _PAGE_ of _PAGES_",
            "infoEmpty": "No hay registros disponible",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search": "Buscar"
                }
                
            }
          );

      });

    },
    getDoctors()
    {
      
      Doctors.getDoctors().then(response => {
         if (response.status === 200) {
      console.log("Listado de doctores"+ JSON.stringify(response.data) );
          doctorslist = response.data;
          this.doctors = response.data;
          this.createtable();
          this.show = false;
         }
      });

    },
    selected_row(e) {
      //alert(e.id);
     
      this.$confirm("Activar/Desactivar atención a distancia").then(
        () => {
          this.show = true;
          if (e.distance_chat) {
            this.user.distance_chat = false;
          } else {
            this.user.distance_chat = true;
          }

          this.show = true;
          Doctors.editDoctor(e, this.user).then(response => {
            //console.log("Doctor editado"+ JSON.stringify(response.data) );
             if (response.status === 200) {
               e.distance_chat = this.user.distance_chat;
                //this.getDoctors();
                this.show = false;
             }
          });
        }
      );
    },
    newUser() {
      window.alert("Noop");
    }
  }
};
</script>
