<template>
   <div class="content">
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      >
        <md-card>
          <md-card-header data-background-color="blue">
            <h4 class="title">Lista de doctores registrados en TuDoc</h4>
            <!-- <p class="category">Lista de citas registradas en TuDoc</p> -->
          </md-card-header>
          <md-card-content>
                    <div>
    <loading :show="show" :label="label"> </loading>
    <md-table
      v-model="searched"
      md-sort="name"
      md-sort-order="asc"
      :table-header-color="tableHeaderColor"
    >
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Nombre</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input
            placeholder="Buscar por nombre o correo electrónico"
            v-model="search"
            @input="searchOnTable"
          />
        </md-field>
      </md-table-toolbar>

      <md-table-empty-state
        v-if="seen"
        md-label="No se encontro doctor"
        :md-description="
          `No se encontro ningun doctor '${search}' con este nombre o correo. Tratar de escribirlo bien o crear un nuevo doctor.`
        "
      >
        <md-button class="md-primary md-raised" to="/createpatient">Crear nuevo doctor</md-button
        >
      </md-table-empty-state>

      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Nombre Completo"
          >{{ item.first_name }} {{ item.last_name }}
          {{ item.second_last_name }}  {{ item.email }}</md-table-cell
        >
        <!-- <md-table-cell md-label="Correo electrónico">{{item.username}}</md-table-cell> -->
        <md-table-cell md-label="Chat a Distancia"
          ><md-button
            @click="selected_row(item)"
            class="md-just-icon md-simple md-primary"
            ><md-icon v-if="item.distance_chat">check_circle_outline</md-icon
            ><md-icon v-else>clear</md-icon>
             <md-tooltip md-direction="top">Chat Distancia</md-tooltip>
            </md-button>
           
        </md-table-cell>
       
      </md-table-row>
    </md-table>
  </div>
   
          </md-card-content>
        </md-card>
      </div>

     
    </div>
  </div>
</template>

<script>
import Company from "@/services/company";
import Doctors from "@/services/doctors";
import loading from "vue-full-loading";


const toLower = text => {
  return text.toString().toLowerCase();
};

const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(
        item.first_name +
          " " +
          item.last_name +
          " " +
          item.second_last_name +
          item.username
      ).includes(toLower(term))
    );
  }

  return items;
};

export default {
  name: "simple-table",
  components: {
    loading
  },
  props: {
    tableHeaderColor: {
      type: String,
      default: ""
    }
  },
  mounted() {
    
    this.getDoctors();

    // Company.getCompanies().then(response => {

    //     console.log("Listado de empresas"+ JSON.stringify(response.data) );
    //     this.companies = response.data;
    // })
  },
  data() {
    return {
      selected: [],
      search: null,
      searched: [],
      doctors: [],
      seen: false,
      show: false,
      label: "Cargando...",
      user: {
        distance_chat: false
      }
    };
  },
  methods: {
    getDoctors()
    {
      this.show = true;
      Doctors.getDoctors().then(response => {
         if (response.status === 200) {
      console.log("Listado de doctores"+ JSON.stringify(response.data) );
          this.doctors = response.data;
          this.searched = this.doctors;
          this.seen = true;
          this.show = false;
         }
    });

    },
    selected_row(e) {
      //alert(e.id);
     
      this.$confirm("Activar/Desactivar atención a distancia").then(
        () => {
          this.show = true;
          if (e.distance_chat) {
            this.user.distance_chat = false;
          } else {
            this.user.distance_chat = true;
          }

          this.show = true;
          Doctors.editDoctor(e, this.user).then(response => {
            //console.log("Doctor editado"+ JSON.stringify(response.data) );
             if (response.status === 200) {
                this.getDoctors();
                this.show = false;
             }
          });
        }
      );
    },
    searchOnTable() {
      this.searched = searchByName(this.doctors, this.search);
    },
    newUser() {
      window.alert("Noop");
    }
  }
};
</script>
