<template>

<div>
    <b-list-group-item 
      v-on:click="selecciona(disponible)" 
      :class="{active: activo}"
      :button=true>
        <span  v-bind:key="horario" v-for="horario in disponible">
          {{timestampformatHora(horario)}} &nbsp;&nbsp;&nbsp;&nbsp;
        </span>
      </b-list-group-item>
</div>

</template>

<script>
// import auth from '../../auth'
// import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
import EventBus from './../event-bus.js'
// import Vue from 'vue'
// var EventBus = new Vue()
// import es from 'vee-validate/dist/locale/es'
// import VeeValidate, { Validator } from 'vee-validate'
// import VueLoading from 'vue-simple-loading'
// import { BasicSelect } from 'vue-search-select'
// import {DatePicker} from 'element-ui'

export default {
  data () {
    return {
      activo: false
    }
  },
  props: ['disponible', 'index'],
  computed: {
  },
  created: function () {
    EventBus.$on('selecting', function (index) {
      if (this.index !== index) {
        this.discard()
      }
    }.bind(this))
    EventBus.$on('noselectingall', function (index) {
      this.discard()
    }.bind(this))
  },
  methods: {
    timestampformatDia (FechaSinFormato) {
      return moment(FechaSinFormato).format('DD MMM YY')
    },
    timestampformatHora (FechaSinFormato) {
      return moment(FechaSinFormato).format('hh:mm A')
    },
    selecciona: function (disponible) {
      this.activo = !this.activo
      this.$emit('seleccionado', disponible, this.activo)
      EventBus.$emit('selecting', this.index) // comunica a los otros componentes que se  deseleccionen
    },
    discard: function () { // metodo  con el  que se deseleccionan
      this.activo = false
    }
  } // methods
}
</script>