<script src="//unpkg.com/vue/dist/vue.js"></script>
<script src="//unpkg.com/element-ui@2.13.0/lib/index.js"></script>
<template>

  <form>
    <md-card>
      <md-card-header :data-background-color="dataBackgroundColor">
        <!-- <h4 class="title">Nuevo Paciente</h4> -->
        <p class="category">Llenar los siguientes campos.</p>
      </md-card-header>

      <md-card-content>
        <!-- <div class="md-layout"> -->
          <b-form >
                <b-form-group id="exampleInputGroup1">
                   <label>* Doctor:</label>
                  <basic-select :options="doctors_list"
                                :selected-option="ditem"
                                placeholder="Selecciona un doctor"
                                @select="onSelectDoctor">
                  </basic-select>
                </b-form-group>


                <b-form-group id="exampleInputGroup2" label="* Paciente:">
                  <basic-select :options="patients_list"
                                :selected-option="pitem"
                                placeholder="Selecciona una paciente"
                                @select="onSelectPatient">
                  </basic-select>
                  <!-- </b-form-input> -->
                </b-form-group>
                <b-form-group id="exampleInputGroup3" label="* Servicio">
                  
                  <basic-select :options="services_list"
                                :selected-option="item"
                                placeholder="Selecciona un servicio"
                                @select="onSelect">
                  </basic-select>

                </b-form-group>

                <b-form-group id="exampleInputGroup3" label="* Fecha">
                  <el-date-picker
                    v-model="value8"
                    type="date"
                    placeholder="Selecciona una fecha">
                  </el-date-picker>
                  <!-- <datepicker v-model="value8" placeholder="Selecciona una fecha" :format="customFormatter" :language="es"></datepicker> -->
                </b-form-group>
              </b-form>

                  <div class="block">
                  {{hayFecha}}
                  </div>
              
              <div class="md-layout-item md-small-size-100 md-size-100">
              <div v-if='availability'>
                <p>Disponibilidad {{ditem.text}} <br/>
                  el {{timestampformatDia(nuevacita.fechaSeleccionada)}}</p>
                <list-availability :availability="availability"  @seleccionadolista="agregaSeleccionado"></list-availability>
              </div>

              </div>
               <div class="md-layout-item md-size-100 text-right">
                <md-button class="md-raised md-success" @click.native.prevent="CitaPost">Agregar Cita</md-button>
              </div>
          <!-- <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Apellido Paterno</label>
              <md-input v-model="user.last_name" type="text" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Apellido Materno</label>
              <md-input v-model="user.second_last_name" type="text" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Email</label>
              <md-input v-model="user.email" type="email" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Contraseña</label>
              <md-input v-model="user.password" type="password" required></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
          
            
             <md-field>
                <datepicker v-model="user.date_of_birth" placeholder="Fecha de nacimiento" :format="customFormatter" :disabled-dates="state.disabledDates" :language="es"></datepicker>
             </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Tipo de Sangre</label>
              <md-input v-model="user.blood_type" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
               <label>Género</label>
               <md-select v-model="user.gender" name="gender" id="gender" required>
                    <md-option value="male">Masculino</md-option>
                    <md-option value="female">Femenino</md-option>
        
                </md-select>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Teléfono</label>
              <md-input v-model="user.home_phone_number" type="number" maxlength=10 ></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field >
              <label>Teléfono Celular</label>
                <md-input v-model="user.mobile_phone_number" type="number" maxlength=10 required></md-input>
            </md-field>
          </div> -->
         
        <!-- </div> -->
      </md-card-content>
    </md-card>
   <loading :show="show" :label="label"> </loading>

  </form>
</template>
<script>
import Vue from 'vue'
import Services from "@/services/services";
import moment from 'moment'
import Doctors from "@/services/doctors";
import Patients from "@/services/patients";
import Appointments from "@/services/citas";
import loading from "vue-full-loading";
import es from 'vee-validate/dist/locale/es'
import elementLocale from 'element-ui/lib/locale/lang/es';
import VeeValidate, { Validator } from 'vee-validate'
import Datepicker from 'vuejs-datepicker';
import Availability from './availability.vue'
import { BasicSelect } from 'vue-search-select'
import {DatePicker} from 'element-ui'

// Vue.use(DatePicker, { locale: es });
Vue.component(DatePicker.name, DatePicker)



moment.locale('es')
const config = {
  delay: 0
}
Validator.localize('es', es)
Vue.use(VeeValidate, config)

// var today = new Date();
import EventBus from './../event-bus.js'

export default {
  name: "newcita",
  components: {
    loading,
    VeeValidate,
    Datepicker,
    BasicSelect,
    'list-availability': Availability
    
  },
  props: {
    dataBackgroundColor: {
      type: String,
      default: "blue"
    }
  },
  data () {
    return {
      show: false,
      label: "Cargando...",
      message_success: [],
      message_error: [],
      value8: '',
      startDate: '',
      endDate: '',
      loading: false,
      nuevacita: {},
      item: {
        value: '',
        text: ''
      },
      ditem: {
        value: '',
        text: ''
      },
      pitem: {
        value: '',
        text: ''
      },
      patients: {},
      patients_list: [],
      services: {},
      services_list: [],
      doctors: {},
      doctors_list: [],
      availability: null,
      listaseleccionados: []
    }
  },
  computed: {
    hayFecha () {
      if (this.value8 && this.nuevacita.doctor) {
        this.listaseleccionados = [] // limpia lo que ya se habia seleccioando
        EventBus.$emit('noselectingall') // comunica a los otros componentes que se  deseleccionen
        this.nuevacita.fechaSeleccionada = this.value8
        const cadenaFecha = moment(this.value8).format('YYYY-MM-DDTHH:mm:ss')
        const cadenaTZ = moment(this.value8).format('ZZ')
        Doctors.getDoctorsavailability(this.nuevacita.doctor,cadenaFecha,cadenaTZ).then(response =>{
            if (response.status === 200) {
             this.availability = response.data
            }

        });
        // console.log(`${auth.API_URL}${auth.API_V}doctor/${this.nuevacita.doctor}/availability/?date=${cadenaFecha}&tz=${cadenaTZ}`)
        // this.$http.get(`${auth.API_URL}${auth.API_V}doctor/${this.nuevacita.doctor}/availability/?date=${cadenaFecha}&tz=${cadenaTZ}`, {
        //   headers: auth.getAuthHeader()
        // }).then(responseavailability => {
        //   this.availability = responseavailability.body
        // }, this.getErrors)
      } // if
    } // hayFecha
  },
  methods: {

    calculaDisponibilidad () {
      if (this.value8 && this.nuevacita.doctor) {
        this.listaseleccionados = [] // limpia lo que ya se habia seleccioando
        EventBus.$emit('noselectingall') // comunica a los otros componentes que se  deseleccionen
        this.nuevacita.fechaSeleccionada = this.value8
        const cadenaFecha = moment(this.value8).format('YYYY-MM-DDTHH:mm:ss')
        const cadenaTZ = moment(this.value8).format('ZZ')

        Doctors.getDoctorsavailability(this.nuevacita.doctor,cadenaFecha,cadenaTZ).then(response =>{
            if (response.status === 200) {
             this.availability = response.data
            }

        });

      } // if
    },
    verificaCampos () {
      if (Object.keys(this.nuevacita).includes('doctor')) {
        if (Object.keys(this.nuevacita).includes('patient')) {
          if (Object.keys(this.nuevacita).includes('service')) {
            if (Object.keys(this.nuevacita).includes('fechaSeleccionada')) {
              if (this.listaseleccionados.length > 0) {
                return true
              } else {
                this.message_error.push('Selecciona un horario disponible')
                return false
              }
            } else {
              this.message_error.push('El campo Fecha es obligatorio.')
              return false
            }
          } else {
            this.message_error.push('El campo servicio es obligatorio.')
            return false
          }
        } else {
          this.message_error.push('El campo paciente es obligatorio.')
          return false
        } // else
      } else {
        this.message_error.push('El campo doctor es obligatorio.')
        return false
      } // else
    },
    hideSuccess () {
      this.message_success = []
    },
    hideError () {
      this.message_error = []
    },
    LimpiarCita () {
      this.nuevacita = {}
      this.value8 = ''
      this.listaseleccionados = []
      this.availability = null
      this.item = {
        value: '',
        text: ''
      }
      this.ditem = {
        value: '',
        text: ''
      }
      this.pitem = {
        value: '',
        text: ''
      }
    },
    agregaSeleccionado (objetoDisponible, objetoActivo) {
      // console.log('listaseleccionados ...................antes')
      // console.log(this.listaseleccionados)
      this.listaseleccionados = []
      if (objetoActivo) {
        this.listaseleccionados.push(objetoDisponible)
      }
      /*
      let encontrado = this.listaseleccionados.find(function (element) { return element === objetoDisponible })
      if (!encontrado) {
        this.listaseleccionados.push(objetoDisponible)
      } else {
        let indiceEncontrado = this.listaseleccionados.findIndex(function (element) { return element === objetoDisponible })
        if (indiceEncontrado === -1) {
          console.log('no lo en encontro :(')
        } else {
          this.listaseleccionados.splice(indiceEncontrado, 1)
        }
      }
      */
      // console.log('listaseleccionados ...................despues')
      // console.log(this.listaseleccionados)
    },
    timestampformat (FechaSinFormato) {
      return moment(FechaSinFormato).format('DD MMM YY [a las] hh:mm A')
    },
    timestampformatDia (FechaSinFormato) {
      return moment(FechaSinFormato).format('dddd, DD MMM YYYY')
    },
    onSelect (item) {
      this.item = item
      this.nuevacita.service = this.item.value
    },
    onSelectDoctor (ditem) {
      this.ditem = ditem
      this.nuevacita.doctor = this.ditem.value
      this.getPatients(this.ditem.value)
      this.calculaDisponibilidad() // intenta calcular la  disponibilidad si existen los parametros
    },
    onSelectPatient (pitem) {
      this.pitem = pitem
      this.nuevacita.patient = this.pitem.value
    },
    getPatients (idDoctor) {
      Patients.getPatientsByDoc(idDoctor).then(response =>{
           if (response.status === 200) {
             this.patients = response.data
             this.patients = this.patients.filter((paciente) => { if (paciente.is_active) { return paciente } })
             this.patients_list = this.patients.map(p => {
                 return { text: `${p.first_name} ${p.last_name} ${p.second_last_name}`, value: p.id }
             })
           
           }

      });

    },
    CitaPost () {
      if (this.verificaCampos()) {
        this.show = true
        this.listaseleccionados.forEach(arreglo => {
          const citaPorInsertar = {service: this.nuevacita.service, patient: this.nuevacita.patient, doctor: this.nuevacita.doctor, start_time: arreglo[0], end_time: arreglo[1]}
          //const envio = JSON.stringify(citaPorInsertar)

          Appointments.createCitas(citaPorInsertar).then(response =>{
            if (response.status === 201) {
             this.show = false
            if ((this.pitem.text) && (this.ditem.text) && (this.item.text)) {
              this.$alert('Se agrego la cita del paciente ' + this.pitem.text + ', con el doctor ' + this.ditem.text + ', y servicio ' + this.item.text + '. Con la fecha de inicio ' + this.timestampformat(arreglo[0]) + ', y fecha de fin ' + this.timestampformat(arreglo[1]));
              //this.message_success.push('Se agrego la cita del paciente ' + this.pitem.text + ', con el doctor ' + this.ditem.text + ', y servicio ' + this.item.text + '. Con la fecha de inicio ' + this.timestampformat(arreglo[0]) + ', y fecha de fin ' + this.timestampformat(arreglo[1]))
            } else {
              this.$alert('Con la fecha de inicio ' + this.timestampformat(arreglo[0]) + ', y fecha de fin ' + this.timestampformat(arreglo[1]));
              //this.message_success.push('Con la fecha de inicio ' + this.timestampformat(arreglo[0]) + ', y fecha de fin ' + this.timestampformat(arreglo[1]))
            }
            this.LimpiarCita()
            }
          })
          
        }) // forEach
      }
    }, 
    customFormatter(date) {
      return moment(date).format('YYYY-MM-DD');
    }
    
    
  },
  mounted () {
    Doctors.getDoctors().then(response =>{
        if (response.status === 200) {
          console.log("Doctores:" + JSON.stringify(response.data));
          this.doctors = response.data
          this.doctors_list = this.doctors.map(s => {
          return { text: `${s.first_name} ${s.last_name} ${s.second_last_name}`, value: s.id }
          })
        }

    });
    
    Services.getServices().then(response =>{
       if (response.status === 200) {
          this.services = response.data
          this.services_list = this.services.map(s => {
            return { text: `${s.name} $${s.price}`, value: s.id }
          })
       }

    })
    
    // this.$http.get(`${auth.API_URL}${auth.API_V}service/`, {
    //   headers: auth.getAuthHeader()
    // }).then(response => {
    //   this.services = response.body
    //   this.services_list = this.services.map(s => {
    //     return { text: `${s.name} $${s.price}`, value: s.id }
    //   })
    // }, this.getErrors)
    // console.log(window.localStorage)
  } // mounted
};
</script>
<style>
@import url("//unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css");
</style>